# =========================
# IDE
# =========================
.idea/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Temporary files / OS
# =========================
.DS_Store
Thumbs.db

