# =========================
# IDE
# =========================
.idea/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Dummy payoad
# =========================
app/content
*.bin

# =========================
# Certs
# =========================
app/certs/*
!app/certs/gen_certs.sh

# =========================
# Temporary files / OS
# =========================
.DS_Store
Thumbs.db

